@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

body{
    background-color: #373D20;
    color: #BCBD8B;
    font-family: "Jetbrains Mono";
    font-size: large;
    text-align: center;
}
