@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

body{
    background-color: #414833;
    color: #F0EBD8;
    font-family: "Jetbrains Mono";
    font-size: large;
    text-align: center;
}

a:link {
  color: #d9dbbb;
  text-decoration: underline;
}

a:visited {
  color: #c29fc2;
}

a:hover {
  color: #cccfa0;
  text-decoration: none;
}

a:active {
  color: #c29fc2;
}
